{:paths ["src"]
 :deps
 {reagent/reagent {:mvn/version "0.7.0"}
  re-frame/re-frame {:mvn/version "0.10.6"}
  day8.re-frame/http-fx {:mvn/version "0.1.6"}
  medley {:mvn/version "1.0.0"}}
 :aliases
 {:dev
  {:extra-paths ["dev"]}}}
